################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDGResponseSheetTest.Desktop/bin/Debug/net7.0
/TDGResponseSheetTest.Desktop/obj
/.vs
